
td:nth-of-type(1){/* content */
/*Border  */
/*Width  */
/*Margin */
/*Padding */


width: 100%;
border: 5px solid blue;
padding: 100px;



margin-left: 20px;

  /* padding: 100px;
  padding-left: 30px; */
/* padding-left: 30px;
margin: 100px; 

margin: 20px 40px 500px 100px;
margin: 0 auto 0 auto ;
margin: 20px auto  ;  */




}




